include ../review/review.pug
- const reviews = require('BD/reviews.json')
div(class='carousel carousel-reviews' id='carousel-reviews')
  div(class='carousel--list')
    each slide, index in reviews
      div(class='carousel--list-item' id=`review-${index + 1}` role='tabpanel' aria-label=`слайд номер ${index + 1}` data-carousel='slide')
        +review(slide)
  div(class='carousel--tablist' role='tablist' aria-label='carousel tablist')
    each tab, index in reviews
      div(class='carousel--tablist-item slide-picker' role='tab'  
          aria-selected='true' aria-controls=`review-${index + 1}` aria-label=`таб ${index + 1}`)