include ../service/service.pug
- const services = require('BD/services.json')
div(class='carousel carousel-services' id='carousel-services')
  div(class='carousel--list')
    each slide, index in services
      div(class='carousel--list-item' id=`service-${index + 1}` role='tabpanel' aria-label=`слайд номер ${index + 1}` data-carousel='slide')
        +service(slide)
  div(class='carousel--tablist' role='tablist' aria-label='carousel tablist')
    each tab, index in services
      div(class='carousel--tablist-item slide-picker' role='tab'  
          aria-selected='true' aria-controls=`service-${index + 1}` aria-label=`таб ${index + 1}`)
